*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 10px;
    padding: 20px;
    text-align: center;
}
header > h1{
    padding: 10px;
    margin: auto;
    color: lightsalmon;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
form{
    max-width: 500px;
    margin: 15px auto;
    padding: 10px;
    border: 1px solid lightsalmon;
    box-shadow: 2px 2px 5px lightsalmon,  -2px -2px 5px lightsalmon;
    background-color: lightsalmon;
    color: orangered;
}
form > h1{
    align-content: center;
    padding: 5px;
    margin: 5px auto;
    color:orangered;
}
div{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 50%;
    margin: 0px auto;
    font-size: 16px;
    font-family: poppins;
    font-weight: 400;
    padding: 5px;
}
input{
    width: 100%;
    height: 20px;
}
input:hover{
    outline: 2px solid orangered;
    box-shadow: 1px 1px 3px orangered,
}
#submit{
    margin: auto;
    color: orangered;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 30px;
    font-family: poppins;
    font-weight: 400;
    font-size: 24px;
}
li{
    margin: 5px auto;
    list-style: none;
    border: 1px solid orangered;
    border: 30px 18px 30px 18px;
    width: 40%;
    padding: 10px 10px 10px 10px;
    
}
.error{
    border: 1px ridge red;
    background-color: red;
    color: white;
}
.list{
    padding: 7px;
    color: whitesmoke;
    background: lightsalmon;
    font-size: 24px;
}